*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Comic Neue', cursive;
}

a{
  text-decoration: none;
}

header{
  margin: 10px;
  border: 5px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-left: 10px;
  font-family: 'Comic Neue', cursive;
  font-size: 24px;
  font-weight: 600;
  padding: 5px
}

.navbar ul{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.navbar ul li{
  padding: 5px;
  list-style-type: none;
}

.navbar ul li:nth-child(1){
  border-right: 3px solid black;
  margin: 10px 0;
  padding: 0 10px;
}

.navbar ul li:nth-child(2){
  border-right: 3px solid black;
  margin: 10px 0;
  padding: 0 10px;
}

.navbar a{
  font-family: 'Comic Neue', cursive;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.navbar a:focus{
  color: blue;
}

.books-container{
  margin-top: 10%;
}

.title{
  text-align: center;
  font-family: 'Comic Neue', cursive;
}

.heading{
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

#bookList{
  border: 4px solid black;
  padding: 5px;
}

#bookList li{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

input{
  width: 30%;
  display: block;
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
  font-weight: 600;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 2px;
  margin: 20px auto 0 auto;
}

input::placeholder{
  padding: 2px;
}

#addBookBtn{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px ;
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
  font-weight: 600;
  margin-left: 62%;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #fff;
}

.remove-btn{
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
  font-weight: 600;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #fff;
  margin-top: 10px;
}

.para{
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}

#contact-info h1{
  text-align: center;
  font-family: 'Comic Neue', cursive;
  font-size: 30px;
  margin-bottom: 30px;
}

#contact-info p{
  text-align: center;
  font-family: 'Comic Neue', cursive;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold
}

#contact-info ul{
  margin-left: 40%;
}

#contact-info ul li{
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  font-weight: bold;
}

footer{
  width: 98%;
  margin: 10px;
  border: 5px solid black;
  border-radius: 7px;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

footer p{
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
  font-weight: 600;
}

.content{
  display: none;
}

.content.show{
  display: block;
}

.date-time{
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  right: 0;
  margin-right: 10px;
}